body
    background-color: #fffffe
    margin: 0
    padding: 0

.container
    background-color: #DC0A2D
    max-width: 415px
    height: 120vh
    margin: auto
    border: solid 5px black

.container__header
    width: 100%
    display: flex
    justify-content: space-between
    border-bottom: solid 1px black

.container__circles
    height: 20%px
    width: 60%
    display: flex
    margin-top: 2%
    .circle
        background-color: #1A6E96
        width: 20%
        height: 50%
        border-radius: 50%
        margin: 5%
        border: solid 2px black
    .mini__circle
        width: 5%
        height: 20%
        border-radius: 50%
        margin: 2%
        border: solid 2px black
        margin-top: 10%

.red
    background-color: red
.yellow
    background-color: yellow
.green
    background-color: green

h1
    width: 40%
    height: 10%
    margin: 2%
    margin-bottom: 0
    img
        width: 100%

.container__search
    width: 100%
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center

.input__search
    width: 40%
    height: 2em
    margin-top: 5%
    margin-left: 5%
    margin-right: 5%
    border: solid 5px black

.btn__search, .btn__all
    height: 2em 
    width: 25%
    margin-top: 5%
    margin-left: 5%
    margin-right: 5%
    background-color: #000000
    color: #fffffe
    border: none
    cursor: pointer
    font-weight: bolder

.container__type
    margin-right: 5%
    margin-top: 5%
    span
        margin-right: 2%
        font-weight: bolder

.container__cards
    margin: auto
    margin-top: 10%
    width: 100%
    height: 50%
    border: none
    display: flex
    flex-wrap: wrap
    justify-content: center
    overflow: auto
    

.card
    background-color: #fffffe
    border: none
    width: 25%
    height: 40%
    margin: 2%
    margin-top: 5%
    border: solid 5px black
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    cursor: pointer
    h2
        margin-top: 5%
        font-size: 100%
    h3
        margin-bottom: 0
    img
        width: 40%
        height: 40%
        margin: auto
.container__buttom
    margin-top: 5%
    display: flex
    justify-content: center
    flex-direction: row-reverse

.buttoms
    border: none
    height: 40px
    margin: 5%
    margin-top: 0
    background-color: #000000
    color: #fffffe
    font-weight: bolder
    cursor: pointer

.disabled
    background-color: #00000057
    cursor: not-allowed

.container__load
    height: 100%
    width: 100%
    position: fixed
    transition: all 1s ease


#load
    height: 50px
    width: 50px
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    margin: auto
    animation: loading 1.5s linear infinite
    img
        width: 100%
        height: 100%

@keyframes loading
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)
        